[submodule "languages-env-base-plugin"]
	path = languages-env-base-plugin
	url = https://github.com/Orangestack-com/languages-env-base-plugin.git
[submodule "stages-plugin"]
	path = stages-plugin
	url = https://github.com/Orangestack-com/stages-plugin.git
[submodule "languages-app-base-plugin"]
	path = languages-app-base-plugin
	url = https://github.com/Orangestack-com/languages-app-base-plugin.git
[submodule "springboot-app-plugin"]
	path = springboot-app-plugin
	url = https://github.com/Orangestack-com/springboot-app-plugin.git
[submodule "sqs-consumer-app-plugin"]
	path = sqs-consumer-app-plugin
	url = https://github.com/Orangestack-com/sqs-consumer-app-plugin.git
[submodule "sqs-producer-app-plugin"]
	path = sqs-producer-app-plugin
	url = https://github.com/Orangestack-com/sqs-producer-app-plugin.git
[submodule "container-env-plugin"]
	path = container-env-plugin
	url = https://github.com/Orangestack-com/container-env-plugin
[submodule "relational-database-app-plugin"]
	path = relational-database-app-plugin
	url = https://github.com/Orangestack-com/relational-database-app-plugin.git
