[submodule "languages-env-base-plugin"]
	path = languages-env-base-plugin
	url = https://github.com/Orangestack-com/languages-env-base-plugin.git
[submodule "stages-plugin"]
	path = stages-plugin
	url = https://github.com/Orangestack-com/stages-plugin.git
[submodule "languages-app-base-plugin"]
	path = languages-app-base-plugin
	url = https://github.com/Orangestack-com/languages-app-base-plugin.git
[submodule "springboot-app-plugin"]
	path = springboot-app-plugin
	url = git@github.com:Orangestack-com/springboot-app-plugin.git
[submodule "kvstoreconsul-app-plugin"]
	path = kvstoreconsul-app-plugin
	url = git@github.com:Orangestack-com/kvstoreconsul-app-plugin.git
[submodule "sqs-consumer-app-plugin"]
	path = sqs-consumer-app-plugin
	url = git@github.com:Orangestack-com/sqs-consumer-app-plugin.git
[submodule "sqs-producer-app-plugin"]
	path = sqs-producer-app-plugin
	url = git@github.com:Orangestack-com/sqs-producer-app-plugin.git